* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


.flexcol {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
}

.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
}


                /*& Styles Textuels Génériques*/

h1,
h2 {
    font-family: 'volkhov-bold';
}

h1 {
    font-size: 84px;
    color: #fff;
}

h2 {
    font-size: 50px;
    color: #14183E;
    margin-top: 10px
}

h3 {
    font-family: 'poppins-bold';
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

h4 {
    font-family: 'poppins-regular';
    font-size: 18px;
    font-weight: 600;
    color: #5E6282;
}

h5 {
    font-family: 'poppins-regular';
    font-size: 14px;
    color: #fff;
}

h6 {
    font-family: 'poppins-bold';
    font-size: 16px;
}

        /*~Font Family & Style*/


.plan-title {
    font-family: 'poppins-bold';
    font-size: 21px;
}

.argument {
    text-decoration: underline;
}

.argument:last-child {
    text-decoration: none;
}

.menu-bouton a:hover {
    text-decoration: underline;
}

footer>p {
    font-size: 14px;
}

figcaption,
label,
input,
button,
a,
p {
    font-family: 'poppins-regular';
}

        /*~Colors*/


.texte-saumon {
    color: #DF6951;
}

.texte-gris {
    color: #BFC0CD;
}

.texte-gris2 {
    color: #8D8D8D;
}

.texte-gris3 {
    color: #3E3F43;
}

.texte-bleu {
    color: #1E1D4C;
}

.texte-sombre {
    color: #22232C;
}

.texte-noir {
    color: #000;
}

.texte-gris-bleu {
    color: #5e6282;
}

.texte-poppins-bold {
    font-weight: bolder;
}

figcaption {
    color: #5E6282;
}


            /*& Header */


header {
    background-color: #fff;
    width: 100%;
    height: 70px;
    position: sticky;
    z-index: 5;
    top: 0;
    padding: 20px 0;
}

        /*~ Menu */

header nav {
    float: right;
    height: 100%;
    margin-right: 150px;
}

header nav ul {
    display: table;
    padding: 0;
    margin: 0;
    height: 100%;
    border-spacing: 30px 0;
}

header nav ul li {
    display: table-cell;
    vertical-align: middle;
}

    /*~ Logo */

.logo {
    height: 100%;
    display: inline-block;
    margin-left: 150px;
    margin: 0;
    padding: 0 5%;
}

.logo img {
    margin-right: 20px;
    height: 35px;
    max-height: 100%;
}

            /*& Body */

body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

section {
    padding: 100px 0 100px 150px;
    position: relative;
}

    /*~ Intro */

#intro {
    background: url(./img/illustration_principale.jpg) no-repeat;
    background-size: cover;
    height: 1000px;
}

section article  {
    max-width: 560px;
}

#souligne-rose {
    background: url(./img/souligne_rose.svg) no-repeat;
    background-position: 0px 97%;
}

#intro article h5 {
    line-height: 150%;
    max-width: 460px;
}

.yellowbttn {
    background-color: #f1a501;
    color: #fff;
    box-shadow: 0px 20px 35px 5px rgb(241 165 1 / 15%);
    font: 18px Arial, Helvetica, sans-serif;
    border-radius: 10px;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
}

    /*~ Carte */

#carte {
    display: block;
    text-align: center;
    background: url(./img/decor_1.svg) no-repeat #ffffff;
    background-position: 98% 2%;
}

.carte {
    margin: 20px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 320px;
    border-radius: 24px;
    box-shadow: 0px 4px 32px 5px rgb(0 0 0 / 5%);
}

.conteneur-carte {
    margin: 0 0 50px;
}

.carte figure {
    position: relative;
    z-index: 2;
    margin: 0;
    border-radius: 24px;
    background-color: #fff;
}

.carte img {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.carte figcaption {
    text-align: center;
    line-height: 28px;
    font-size: 18px;
    padding: 20px;
}

#conteneur-maki .carte:not(:hover) {
    box-shadow: none;
    background-color: transparent;
}

#conteneur-maki .carte {
    width: 267px;
}

            /*& Commandes */

#commandes {
    background: url(./img/illustration_commander.jpg) no-repeat;
    background-size: cover;
}
.conteneur-elements {
    text-align: left;
}

#commandes article {
    max-width: 550px;
    text-align: left;
}

.conteneur-arguments {
    margin-bottom: 50px;
}

.argument figcaption {
    display: block;
    width: 300px;
}

.argument img, .argument figcaption {
    display: inline-block;
    vertical-align: middle;
}

.conteneur-arguments figure {
    margin: 0;
}

.conteneur-arguments .argument figcaption {
    margin: 0 0 0 20px;
    padding: 0 20px 0 0;
}

.conteneur-arguments .argument img {
    width: 60px;
    height: 60px;
}

            /*& Formulaire */

#formulaire {
    width: 100%;
    padding: 100px 0;
    background-color: #fff;
    text-align: center;
}

#formcontainer {
    display: table;
    width: 100%;
    max-width: 1024px;
    border-radius: 25px;
    margin: auto;
    box-shadow: 0px 4px 61px 0px rgb(0 0 0 / 10%);
}

#formleft {
    display: table-cell;
    text-align: center;
    padding: 50px;
    width: 50%;
}

#formright {
    display: table-cell;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: url(./img/illustration_formulaire.jpg) no-repeat;
    background-size: cover;
}

.formulaire-contact input {
    display: block;
    padding: 10px 0 5px;
    color: #989898;
    width: 100%;
    border: none;
    border-bottom: 1px solid #e2e4e5;
    outline: 0;
    font-size: 13px;
}

.bouton {
    background-color: #007aff;
    color: #fff;
    font: 18px Arial, Helvetica, sans-serif;
    box-shadow: 0px 20px 35px 5px rgb(11 54 59 / 15%);
    margin: 50px 5px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 15px 25px;
}

.formulaire-contact {
    margin: 25px 15px;
}

            /*& Footer */

footer {
    background-color: #f3f3f3;
    padding: 70px 10% 20px;
}

footer section {
    padding: 0;
}

#conteneur-foot {
    text-align: center;
}

footer .footer-part:not(:last-child) {
    margin-right: 10%;
}

footer .footer-part {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-bottom: 50px;
}

.footer-logo .logo {
    margin: 0;
    display: block;
}

.logo {
    height: 100%;
    display: inline-block;
    margin-left: 150px;
    vertical-align: middle;
}

.footer-logo .logo img {
    height: 50px;
}

.logo img:first-child {
    margin-right: 20px;
}

footer p {
    line-height: 25px;
    font-size: 18px;
}

.plan-restau {
    display: inline-block;
    vertical-align: top;
    margin: 20px 50px;
}

.contact {
    display: inline-block;
    margin: 20px 50px;
}

.dl-button {
    display: inline-block;
    background-color: #000;
    border: none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    font: 18px Arial, Helvetica, sans-serif;
}

#foot-uber .dl-button img {
    margin: 0 10px 0 0;
}

#foot-uber .dl-button * {
    display: inline-block;
    vertical-align: middle;
}

.dl-button p {
    font-size: 10px;
}

#copyright {
    margin: 0;
    text-align: center;
    font-size: 14px;
}