* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.flexcol {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
}

.flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
}


                /*& Styles Textuels Génériques*/

h1,
h2 {
    font-family: 'volkhov-bold';
}

h1 {
    font-size: 84px;
    color: #fff;
}

h2 {
    font-size: 50px;
    color: #14183E;
    margin-top: 10px
}

h3 {
    font-family: 'poppins-bold';
    font-size: 20px;
    color: #fff;
}

h4 {
    font-family: 'poppins-regular';
    font-size: 18px;
    font-weight: 600;
    color: #5E6282;
    margin-bottom: 10px;
}

h5 {
    font: 500 16px/30px "poppins-regular";
    color: #fff;
}

h6 {
    font-family: 'poppins-bold';
    font-size: 16px;
}

        /*~Font Family & Style*/


.plan-title {
    font-family: 'poppins-bold';
    font-size: 21px;
}

.plan-title:not(:last-child) {
    margin: 0 0 20px;
}

.argument {
    text-decoration: underline;
}

.uppercase { 
    text-transform: uppercase;
}

.menu-bouton a:hover {
    text-decoration: underline;
}

footer #plan-site a:hover {
    text-decoration: underline;
}

figcaption,
label,
input,
button,
a,
p {
    font-family: 'poppins-regular';
    font-weight: 500;
    font-style: normal;
    text-align: left;
}

.texte-poppins-bold {
    font-weight: bolder;
}

.texte-volkhov-bold {
    font-family: "volkhov-bold";
}

        /*~Colors*/


.texte-saumon {
    color: #DF6951;
}

.texte-gris {
    color: #BFC0CD;
}

.texte-gris2 {
    color: #8D8D8D;
}

.texte-gris3 {
    color: #3E3F43;
}

.texte-bleu {
    color: #1E1D4C;
}

.texte-sombre {
    color: #22232C;
}

.texte-noir {
    color: #000;
}

.texte-gris-bleu {
    color: #5e6282;
}


.souligne-rose {
    background: url(./img/souligne_rose.svg) no-repeat;}


                /*& Header */


header {
    display:flex;
    background-color: #fff;
    width: 100%;
    height: 70px;
    position: sticky;
    z-index: 5;
    top: 0;
    padding: 20px 0;
    transition: all 0.2s ease-in-out;
}

        /*~ Menu Navigation */

header nav {
    height: 100%;
    margin-right: 8%;
    transition: all 0.2s ease-in-out;
}

header nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
}

header .logo {
    margin-left: 8%;
    margin-right: auto;
    transition: all 0.2s ease-in-out;
}

header nav ul li a {
    font-size: 17px;
}

header nav ul li:not(:last-child) {
    margin-right: 30px;
}

header .burger {
    display: none;
}

    /*~ Logo */

.logo {
    height: 100%;
    display: inline-block;
    margin: 0;
}

.logo img {
    max-height: 100%;
}

.logo img:first-child {
    margin-right: 20px;
}

.logo:hover img:first-child {
    animation: logo-animation 0.5s ease-in;
    margin-right: 20px;
}

@keyframes logo-animation {
    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(0deg);
    }
}



                /*& Body Général */

body {
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
}

section {
    padding: 100px 0 100px 150px;
    position: relative;
}

section article  {
    max-width: 560px;
}

                /*& Buttons */

.yellowbttn {
    background-color: #f1a501;
    color: #fff;
    box-shadow: 0px 20px 35px 5px rgb(241 165 1 / 15%);
    font: 18px Arial, Helvetica, sans-serif;
    border-radius: 15px;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
}

.yellowbttn:hover {
    background-color: #f1a501e2;
}

.dl-button {
    display: inline-block;
    background-color: #000;
    border: none;
    padding: 0 1rem;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
}

#foot-uber .dl-button * {
    display: inline-block;
    vertical-align: middle;
}

.dl-button p {
    font-size: 10px;
}

.dl-button:hover {
    background-color: #000000cc; 
}

    /*~ Intro */

#intro {
    background: url(./img/illustration_principale.jpg) no-repeat;
    background-size: cover;
}

#intro .souligne-rose {
    margin: 40px 0 20px;
    background-position: 10px 95%;
}

#intro article h5 {
    max-width: 460px;
}

    /*~ Carte */

#carte {
    display: block;
    text-align: center;
    background: url(./img/decor_1.svg) no-repeat #ffffff;
    background-position: 98% 2%;
}

.conteneur-carte {
    margin: 0 0 50px;
}

.title-box {
    display: block;
}

.carte {
    margin-bottom: 50px;
    display: inline-block;
    vertical-align: top;
    width: 320px;
    border-radius: 24px;
    box-shadow: 0px 4px 32px 5px rgb(0 0 0 / 5%);
}

#conteneur-nouveautes .carte:last-child::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    right: -10px;
    bottom: 0;
    background: url("./img/decoration_filet.svg") no-repeat;
    background-position: 80% 30%;}

.carte figure {
    position: relative;
    z-index: 2;
    margin: 0;
    border-radius: 24px;
    background-color: #fff;
}

.carte img {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.carte figcaption {
    text-align: center;
    line-height: 28px;
    font-size: 18px;
    padding: 20px;
}

#conteneur-maki .carte {
    width: 267px;
}

#conteneur-maki .carte:not(:hover) {
    box-shadow: none;
    background-color: transparent;
}

/*& Vidéo Présentation*/

#presentation {
    padding-bottom: 426px;
    background: url(./img/illustration_chef.jpg) no-repeat;
    background-size: cover;
    overflow: visible;
}

#presentation article {
    max-width: 650px;
}

#presentation #video {
    display: flex;
    position: relative;
    width: 300px;
    height: 165px;
    border-radius: 15px;
}

#presentation #video img {
    max-width: 100%;
    border-radius: 15px;
}

#video:hover img {
    opacity: 0.9;
}

#presentation #video-play {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    margin-left: -38.5px;
    margin-top: -38.5px;
    width: 77px;
    height: 77px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.conteneur-images {
    position: absolute;
    height: 652px;
    width: 100%;
    z-index: 1;
    left: 0;
    bottom: -326px;
}

.conteneur-images figure {
    display: inline-block;
    margin: 0;
    width: 500px;
    height: 100%;
}

.conteneur-images figure img {
    width: 100%;
    height: 100%;
}

#presentation .souligne-rose {
    margin: 100px 0 40px;
    background-position: -5px 18%;
}

#presentation h5 {
    max-width: 460px;
}


                /*& Commandes */

#commandes {
    padding-top: 425px;
    background: url(./img/illustration_commander.jpg) no-repeat;
    background-size: cover;
}

#commandes article {
    max-width: 550px;
    text-align: left;
}

.conteneur-arguments {
    margin-bottom: 50px;
}

.argument figcaption {
    display: block;
    width: 300px;
}

.argument img, .argument figcaption {
    display: inline-block;
    vertical-align: middle;
}

.conteneur-arguments figure {
    margin: 0;
}

.conteneur-arguments .argument figcaption {
    margin: 0 0 0 20px;
    padding: 0 20px 0 0;
}

.conteneur-arguments .argument img {
    width: 60px;
    height: 60px;
}

            /*& Formulaire */

#formulaire {
    width: 100%;
    padding: 100px 0;
    background-color: #fff;
    text-align: center;
}

#formcontainer {
    display: table;
    width: 100%;
    max-width: 1024px;
    border-radius: 25px;
    margin: auto;
    box-shadow: 0px 4px 61px 0px rgb(0 0 0 / 10%);
}

#formleft {
    display: table-cell;
    padding: 50px;
    width: 50%;
}

#formright {
    display: table-cell;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: url(./img/illustration_formulaire.jpg) no-repeat;
    background-size: cover;
}

.formulaire-contact input {
    display: block;
    padding: 10px 0 5px;
    color: #989898;
    width: 100%;
    border: none;
    border-bottom: 1px solid #e2e4e5;
    outline: 0;
    font-size: 13px;
}

.bouton {
    background-color: #007aff;
    color: #fff;
    font: 18px Arial, Helvetica, sans-serif;
    box-shadow: 0px 20px 35px 5px rgb(11 54 59 / 15%);
    margin: 50px 5px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 15px 25px;
}

.bouton:hover {
    background-color: #007bffd5;
}

.formulaire-contact {
    margin: 25px 15px;
}

            /*& Footer */

/*~ General*/

footer {
    background-color: #f3f3f3;
    padding: 70px 8% 20px;
}

footer p {
    line-height: 25px;
    font-size: 15px;
}

footer section {
    padding: 0;
}

/*~ Conteneurs*/

#conteneur-foot {
    text-align: center;
}

footer .footer-part:not(:last-child) {
    margin-right: 10%;
}

footer .footer-part {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 0 20px;
    margin-bottom: 50px;
}

/*~ Logo*/

.footer-logo .logo {
    margin: 0;
    display: block;
}

.footer-logo .logo img {
    height: 50px;
}

.logo img:first-child {
    margin-right: 20px;
}

/*~ copyright elem*/

.plan-restau {
    display: inline-block;
    vertical-align: top;
    margin: 20px 50px;
}

.contact {
    display: inline-block;
    margin: 20px 50px;
}



#copyright {
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}


/* ---------- */
/* Responsive */
/* ---------- */

/* Ordinateur */

@media (max-width: 1600px) {
    #presentation::after {
        background-position-x: 40%;
    }
}

@media (max-width: 1200px) {
    #presentation::after {
        background-position-x: 50%;
    }
}

/* Tablette */

@media (max-width: 768px) {
    #carte {
        background: #ffffff;
    }
}

@media (max-width: 1024px) {
    html,
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 74px;
    }

    h2 {
        font-size: 40px;
    }

    header nav ul li {
        display: none;
    }

    header .logo {
        margin-left: 5%;
    }

    header nav {
        margin-right: 5%;
    }

    header .burger {
        display: inline-block;
        vertical-align: middle;
    }

    footer,
    section {
        padding-left: 5%;
        padding-right: 5%;
    }

    footer .footer-part,
    footer .footer-part * {
        text-align: center;
    }

    footer #plan-site .footer-part * {
        text-align: left;
    }

    #intro .souligne-texte-rose {
        background-position: 0px 95%;
    }
}

/* Mobile */

@media (max-width: 656px) {
    h1 {
        font-size: 45px;
    }

    .conteneur-images {
        position: relative;
        height: auto;
        width: 100%;
        z-index: initial;
        left: initial;
        bottom: initial;
    }

    .conteneur-images .mobile-illustration,
    .conteneur-images figure {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    .conteneur-images figure img {
        max-width: 100%;
        max-height: 100%;
    }

    .conteneur-arguments {
        text-align: left;
    }

    .formcontainer {
        box-shadow: none;
    }

    .formright {
        display: none;
    }

    .formleft {
        width: 100%;
        padding: 0;
    }

    .formleft h4,
    .formleft h5 {
        text-align: center;
    }

    .formulaire-contact {
        display: block;
        width: 100%;
    }

    .formulaire-contact:not(:last-child) {
        padding: 0;
    }

    footer,
    section,
    #formulaire {
        padding-top: 8%;
        padding-bottom: 8%;
    }

    section article {
        width: 100%;
        text-align: center;
        max-width: initial;
    }

    #formulaire article,
    section article h5 {
        max-width: initial;
    }

    #intro .souligne-texte-rose {
        background-position: 55% 95%;
        background-size: 55%;
    }

    #presentation {
        padding: 0;
    }

    #presentation .souligne-texte-rose {
        background-position: 35% 18%;
    }

    #presentation #video {
        width: 100%;
        height: auto;
        border-radius: 0;
    }

    #presentation #video > img {
        flex: 1;
        max-width: 100%;
        border-radius: 0;
    }

    #presentation .video-play {
        width: 20vw;
        height: 20vw;
    }

    #presentation .video-play > img {
        width: 18vw;
        height: 18vw;
    }

    #presentation article {
        display: none;
    }

    #presentation::after,
    #commandes::after {
        background: #ffffff;
    }
    #commandes .conteneur-elements {
        justify-content: center;
    }

    #conteneur-nouveautes {
        height: 500px;
    }

    #conteneur-nouveautes .conteneur-carte {
        position: relative;
        height: 100%;
        margin: 0;
    }

    #conteneur-nouveautes .carte {
        position: absolute;
        opacity: 0;
        margin: 0;
    }

    #conteneur-nouveautes .carte::before {
        display: none;
    }

    #conteneur-nouveautes .carte:nth-child(1) {
        animation: animation-carte-1 19.5s 0s infinite;
    }

    #conteneur-nouveautes .carte:nth-child(2) {
        animation: animation-carte-2 19.5s 0s infinite;
    }

    #conteneur-nouveautes .carte:nth-child(3) {
        animation: animation-carte-3 19.5s 0s infinite;
    }

    #conteneur-maki .conteneur-carte {
        display: block;
    }

    #conteneur-maki .carte {
        display: block;
        width: auto;
        margin: 0;
        padding: 0;
    }

    #conteneur-maki .carte:not(:last-child) {
        margin-bottom: 20px;
    }

    #conteneur-maki .carte figure figcaption,
    #conteneur-maki .carte figure {
        display: flex;
        align-items: center;
    }

    #conteneur-maki .carte figure figcaption,
    #conteneur-maki .carte figure figcaption p {
        text-align: left;
    }

    #conteneur-maki .carte figure figcaption {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
    }

    #conteneur-maki .carte figure figcaption p {
        margin: 0;
    }

    #conteneur-maki .carte figure figcaption p:first-child {
        font-size: 18px;
        margin-bottom: 10px;
    }

    #conteneur-maki .carte figure img {
        max-width: 110px;
        max-height: 110px;
    }

    #conteneur-maki .carte::before,
    #conteneur-maki .carte::after {
        display: none;
    }

    @keyframes animation-carte-1 {
        0% {
            opacity: 0;
            transform: translateX(50%);
        }

        2.25% {
            opacity: 1;
            transform: translateX(0);
        }

        33% {
            opacity: 1;
            transform: translateX(0);
        }

        35.25% {
            opacity: 0;
            transform: translateX(-50%);
        }

        100% {
            opacity: 0;
            transform: translateX(-50%);
        }
    }

    @keyframes animation-carte-2 {
        0% {
            opacity: 0;
            transform: translateX(50%);
        }

        35.25% {
            opacity: 0;
            transform: translateX(50%);
        }

        37.5% {
            opacity: 1;
            transform: translateX(0);
        }

        66% {
            opacity: 1;
            transform: translateX(0);
        }

        68.25% {
            opacity: 0;
            transform: translateX(-50%);
        }

        100% {
            opacity: 0;
            transform: translateX(-50%);
        }
    }

    @keyframes animation-carte-3 {
        0% {
            opacity: 0;
            transform: translateX(50%);
        }

        68.25% {
            opacity: 0;
            transform: translateX(50%);
        }

        70.5% {
            opacity: 1;
            transform: translateX(0);
        }

        97.75% {
            opacity: 1;
            transform: translateX(0);
        }

        100% {
            opacity: 0;
            transform: translateX(-50%);
        }
    }
}

